<div class="restful-object">
	<a name="{{ .Name }}"></a>
	<h3>Object: {{ .Name }}</h3>

	<div class="mc-table rest-model-table">
		<div class="mc-table-thead">
			<div class="mc-table-tr">
				<div class="mc-table-th rest-data-col">
					Name
				</div>
				<div class="mc-table-th rest-type-col">
					Type
				</div>
				<div class="mc-table-th rest-example-col">
					Example
				</div>
				<div class="mc-table-th rest-description-col">
					Description
				</div>
			</div>
		</div>
		<div class="mc-table-tbody">
